page-reschedule {
    ion-header{
        background: color($colors, light);
        .searchbar-container{
                background:color($colors, contentbg) !important;
        .custom-searchbar{    
            padding: 8px 18px 8px 18px !important;
            .searchbar-input-container{      
                .searchbar-input{
                    border-radius: 6px !important;
                    box-shadow: none !important;
                }
            }
        }
    }
    }
   
    ion-content{
       // background:color($colors, backgroundcolor) !important;
        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            
          }
          
          /* Example Only Styles */
          .child {
            position: relative;
            height: 35px;
            border-radius:6px; 
            background: color($colors, light);
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                object-fit:cover;
                height:100%;
                width:auto;
                border-radius:8px;
            }
            .overlay-container{
                width:70px;
                height:100%;
                width:100%;
                background:color($colors, primary2);;
                color:color($colors, light);
                text-align:center;
                position:absolute;
                z-index:10;
                opacity:50%; 
            }
            ion-icon{
                font-size:25px;
                color:color($colors, light-grey);
                padding:5px 2px;
                text-align:center;
                top:0;
                z-index:11;
                right:7px;
                position:absolute;
            }
          }
       
    }
}

